body{
    margin:0;
    overflow-x:hidden;
}

.wrapper{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:210px;
    height:100vh;
    background:linear-gradient(180deg, #f8f9ff, #eef2ff);
    border-right:1px solid #e5e7eb;
    position:fixed;
    left:0;
    top:0;
    padding:30px;
    overflow-y:auto;
    box-shadow:0 4px 12px rgba(0,0,0,0.04);

    display:flex;              /* 🔥 WAJIB */
    flex-direction:column; 
}

/* title section */
.menu-title{
    font-size:12px;
    font-weight:600;
    color:#9ca3af;
    margin-top:3px;
    margin-bottom:3px;
    letter-spacing:1px;
}

/* MENU */
.sidebar a{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px 15px;
    font-size:15px;
    font-weight:500;
    color:#111827;
    text-decoration:none;
    border-radius:10px;
    margin-bottom:2px;
    transition:0.25s;
}

/* HOVER */
.sidebar a:hover{
    background:#eef2ff;
    color:#3949ab;
    transform:translateX(3px);
}

/* ACTIVE */
.sidebar a.active{
    background:#3949ab;
    color:white;
    font-weight:600;
    box-shadow:0 6px 15px rgba(57,73,171,0.25);
}

.sidebar a.active i{
    color:white;
}

/* logout bawah */
.logout{
    margin-top:auto;
}

/* ================= LOGO SEKOLAH ================= */
.logo-sekolah{
    text-align:center;
    margin-bottom:25px;
    padding-bottom:15px;
    border-bottom:1px solid #e5e7eb;
}

.logo-sekolah img{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-bottom:8px;
}

.logo-sekolah h6{
    font-size:14px;
    font-weight:700;
    color:#3949ab;
    margin:0;
}

/* CONTENT */
.main-content{
    margin-left:200px;
    width:calc(100% - 280px);
    padding:35px;
    padding-top:60px;
    min-height:100vh;
}

/* PROFILE */
.profile-box{
    padding:4px 0px 8px;
    margin-bottom:8px;
    border-bottom:1px solid #e5e7eb;
}

.profile-img{
    width:70px;
    height:70px;
    border-radius:60%;
    object-fit:cover;
    background:white;
    padding:4px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    display:block;
    margin:0 auto 10px;
}

.profile-info{
    text-align:center;
}

.profile-info h6{
    margin:0;
    font-size:12px;
    font-weight:700;
    line-height:1.35;
    color:#111827;
}

.profile-info p{
    margin-top:4px;
    font-size:12px;
    color:#6b7280;
}

.card-body{
    padding:35px;
}

.card h3{
    font-weight:700;
}

/* QUICK MENU */
.menu-card{
    transition:0.25s;
    border-radius:18px;
}

.menu-card:hover{
    transform:translateY(-5px);

    box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.student-status{
    margin-top:6px;
    font-size:12px;
    font-weight:600;
}

.student-status.active{
    color:#16a34a;
}

.student-status.inactive{
    color:#dc2626;
}
